{% extends "TuniAnnonceBundle::layout.html.twig" %}

{% block content_middle %}
<div class="navbar-wrapper-content page">
    <div class="container clearfix">
<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
</div></div>
{% endblock  %}
